# maximal read length
max_rd_len=100

[LIB]
# average insert size
avg_ins=200

# if sequence needs to be reversed 
reverse_seq=0

# in which part(s) the reads are used
asm_flags=3

# use only first 101 bps of each read
rd_len_cutoff=101

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32

# fastq file for read 1
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_1P.fastq

# fastq file for read 2 always follows fastq file for read 1
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_2P.fastq
# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_2u.fastq



[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_2u.fastq



[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_2u.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_2u.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_1P.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_2P.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_1U.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_2u.fastq