# maximal read length
max_rd_len=100

[LIB]
# average insert size
avg_ins=200

# if sequence needs to be reversed 
reverse_seq=0

# in which part(s) the reads are used
asm_flags=3

# use only first 101 bps of each read
rd_len_cutoff=101

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32

# fastq file for read 1
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_P1.fastq

# fastq file for read 2 always follows fastq file for read 1
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719013_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719014_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719015_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719016_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719017_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719018_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719204_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_P2.fastq
# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719206_u2.fastq



[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719207_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719208_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719209_u2.fastq



[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719211_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719212_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719213_u2.fastq

[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719214_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719241_u2.fastq


[LIB]
avg_ins=200
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32

# fastq file for read 1 and 2
q1=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_P1.fastq
q2=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_P2.fastq

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_U1.fastq
q=/home/milenatr/private/genome_analysis_data/trim_by_me/SRR1719242_u2.fastq