# maximal read length
max_rd_len=100

[LIB]
# average insert size
avg_ins=200

# if sequence needs to be reversed 
reverse_seq=0

# in which part(s) the reads are used
asm_flags=3

# use only first 101 bps of each read
rd_len_cutoff=101

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32

# fastq file for read 1
q1=/home/milenatr/private/genome_analysis_data/trim_by_me*1P.fastq.gz

# fastq file for read 2 always follows fastq file for read 1
q2=/home/milenatr/private/genome_analysis_data/trim_by_me*2P.fastq.gz

# fastq file for single reads
q=/home/milenatr/private/genome_analysis_data/trim_by_me*1U.fastq.gz
q=/home/milenatr/private/genome_analysis_data/trim_by_me*2u.fastq.gz
