# maximal read length
max_rd_len=50

[LIB]
# average insert size
avg_ins=200

# if sequence needs to be
reversed reverse_seq=0

# in which part(s) the reads are used
asm_flags=3

# use only first 50 bps of each read
rd_len_cutoff=50

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (default 3)
pair_num_cutoff=3

# minimum aligned length to contigs for a reliable read location (default 32)
map_len=32

# fastq file for read 1
q1=/path/**LIBNAMEA**/fastq_read_1.fq

# fastq file for read 2 always follows fastq file for read 1
q2=/path/**LIBNAMEA**/fastq_read_2.fq

# fasta file for read 1
f1=/path/**LIBNAMEA**/fasta_read_1.fa

# fastq file for read 2 always follows fastq file for read 1
f2=/path/**LIBNAMEA**/fasta_read_2.fa

# fastq file for single reads
q=/path/**LIBNAMEA**/fastq_read_single.fq

# fasta file for single reads
f=/path/**LIBNAMEA**/fasta_read_single.fa

# a single fasta file for paired reads
p=/path/**LIBNAMEA**/pairs_in_one_file.fa

[LIB]
avg_ins=2000
reverse_seq=1
asm_flags=2
rank=2

# cutoff of pair number for a reliable connection
# (default 5 for large insert size)
pair_num_cutoff=5

# minimum aligned length to contigs for a reliable read location
# (default 35 for large insert size)
map_len=35
q1=/path/**LIBNAMEB**/fastq_read_1.fq
q2=/path/**LIBNAMEB**/fastq_read_2.fq
q=/path/**LIBNAMEB**/fastq_read_single.fq
f=/path/**LIBNAMEB**/fasta_read_single.fa
